<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--&lt;!&ndash; 安全管理  &ndash;&gt;-->
    <!--<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">-->
        <!--&lt;!&ndash; Single realm app.  If you have multiple realms, use the 'realms' property instead. &ndash;&gt;-->
        <!--<property name="realm" ref="authRealm"/>&lt;!&ndash; 引用自定义的realm &ndash;&gt;-->
        <!--&lt;!&ndash; 二级缓存 &ndash;&gt;-->
        <!--<property name="cacheManager" ref="shiroEhcacheManager"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 自定义权限认证 &ndash;&gt;-->
    <!--<bean id="authRealm" class="com.fyh.www.shiro.AuthRealm">-->
        <!--&lt;!&ndash;        <property name="userService" ref="userService"/> &ndash;&gt;-->
        <!--&lt;!&ndash; 自定义密码加密算法  &ndash;&gt;-->
        <!--<property name="credentialsMatcher" ref="passwordMatcher"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 设置密码加密策略 md5hash &ndash;&gt;-->
    <!--<bean id="passwordMatcher" class="com.fyh.www.shiro.CustomCredentialsMatcher"/>-->

    <!--&lt;!&ndash; 此bean要被web.xml引用,和web.xml中的filtername同名 &ndash;&gt;-->
    <!--<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">-->
        <!--<property name="securityManager" ref="securityManager"/>-->
        <!--<property name="loginUrl" value="/index.jsp" /> &lt;!&ndash; 没有认证返回地址 &ndash;&gt;-->
        <!--<property name="unauthorizedUrl" value="/index2.jsp" /> &lt;!&ndash; 没有授权返回地址 &ndash;&gt;-->
        <!--<property name="filterChainDefinitions">-->
            <!--<value>            &lt;!&ndash; **代表任意子目录 &ndash;&gt;-->
                <!--/login/** = anon-->
                <!--/user/** = authc,roles[admin]-->
                <!--/test/** = authc,perms[测试用的lkkk]-->
            <!--</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 用户授权/认证信息Cache, 采用EhCache  缓存 &ndash;&gt;-->
    <!--<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">-->
        <!--<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>-->
    <!--</bean>-->

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 生成代理，通过代理进行控制 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
    </bean>

    <!--&lt;!&ndash; 安全管理器 &ndash;&gt;-->
    <!--<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">-->
        <!--<property name="securityManager" ref="securityManager"/>-->
    <!--</bean>-->
</beans>